@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 38px;
  line-height: 52px;
  font-weight: 500;
}

h2 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
}

h3 {
  font-size: 26px;
  line-height: 36px;
  font-weight: 500;
}

h4 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}

h5 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

h6 {
  font-size: 15px;
  line-height: 21px;
  font-weight: 500;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  @apply w-full border  my-1 py-2 px-3 rounded-2xl;
}

button {
  @apply bg-gray-300;
}

button.primary {
  background-color: "#86C232";
  @apply bg-primary p-2 w-full text-white rounded-2xl;
}
